# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore virtual environment directory
env/

# Ignore Python compiled files
__pycache__/
*.pyc
# Jupyter Notebook metadata
*.nbconvert.ipynb


##Removing the following files and directories
.gradio/
src/
# Ignore all files in the data directory

